body{
    padding: 10%;
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: brown;
}
  
a:visited {
    color: purple;

}

a:hover,a:focus {
  /*   color:skyblue; */
  color: hsl(207, 44%, 49%,70%);
/* background-color: gold; */
}
a:active{
    color: brown;
}