body{
    padding: 10%;
    font-size: 2rem;
    font-family:Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
    cursor: pointer;
    color: brown;
}
  
a:visited {
    color: purple;

}
a:hover {
    colo:skyblue;

}