 body{
    padding: 15%;
    font-size: 1.2rem;
    font-family: serif;
    font-family:sans-serif;

 }
 /* input, button{
    font: inherit;
 } */
/*  p{
    text-decoration: underline;
    text-decoration: overline;
    text-decoration: line-through;
 } */
 p{
    /* text-transform: capitalize;
    text-transform: uppercase;
    text-transform: lowercase; */


   /*  text-align: right;
    text-align: justify;
    text-align: center; */


  /*   text-indent: 2em; */

/*  line-height: 1.2; */ /* difolt line height */

line-height: 1.5;  

/* letter-spacing: 0.1em;
word-spacing: 0.5em; */

font-weight: 400; 

/* font-style: italic;
font-style:oblique ;
font-style: normal;
 */
 }